/* Start Variables */
:root {
  --main-color: #19c8fa;
  --secondary-color:#fff;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --main-transition:.8s;
}
/* End Variables */
/* start globale rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    font-family: "Open Sans", sans-serif;
  }
  ul {
    list-style: none;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 6rem;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  /* Start Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* End Components */
  /*sart backdrop*/
.backdrop{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}
/*end backdrop*/
  /* Start Header */
header {
 position:absolute;
 width: 100%;
 left: 0;
 z-index: 3;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container::after{
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}
header .container .logo img{
  height: 40px;
}

header nav{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .toggle-menu{
  color: var(--secondary-color);
  font-size: 1.4rem;
  cursor: pointer;
}

@media (min-width:768px) {
  header nav .toggle-menu{
   display: none;
  } 
 
}
header nav ul{
  display: flex;
}
@media (max-width:768px) {
  header nav ul{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: var(--main-transition);
  }
   header nav ul.openUl{
    display: flex;
  }
}
header nav ul li a {
  display: block;
  color:var(--secondary-color);
  text-decoration: none;
  font-size: 0.9rem;
  transition: .3s;
  padding: 40px 10px;
  position: relative;
  z-index: 2;
}
@media (max-width:768px) {
  header nav ul li a {
    padding: 15px;
  }
}

header nav ul li a.active{
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
/*start style input */
 .input input{
  display: block;
   border: none;
    outline:none;
    padding-left: 5px;
    font-size: .8rem;
    color: var(--secondary-color);
    height: 100%;
    width: 100%;
    border-radius:3px;
    background-color: #777;
    height: 1.5rem;
    width: 0rem;
}
input.open{
   width: 9.6rem;
  transition: var(--main-transition);
}
/*end style input*/
header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 20px;
  border-left: 1px solid var(--secondary-color);
}
@media (max-width:768px) {
  .input input{
    display: none;
  }
  header nav .form {
    display: none;
  }
}
header nav .form i {
  color:var(--secondary-color);
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}
/* Start Landing */
.landing{
 min-height: 100vh;
 position: relative;
}
.landing img{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: var(--main-transition);
}
.landing img.active{
  opacity: 1;
}
.landing .overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color:rgb(0 51 204 /7%);
}
.landing .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    width: 50%;
    color: var(--secondary-color);
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content{
  max-width: 500px;
}
.landing .text .content .btn{
  background-color: var(--main-color);
  color: var(--secondary-color);
  width: 100px;
  aspect-ratio: 1/.25;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: 500;
  transition:all var(--main-transition);
  cursor: pointer;
}
.landing .text .content .btn:hover{
  background-color: var(--secondary-color);
  color: var(--main-color);
}

@media (max-width:767px) {
  .landing .text{
    width: 100%;
  }
  .landing .text .content{
    max-width: 100%;
  }
}
.landing .text .content h2{
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 500;
}
.landing .text .content P{
  font-size: .8rem;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--secondary-color);
  cursor: pointer;
}
.landing .change-background.disabled{
  color: #777;
  cursor: no-drop;
}
@media (max-width:767px) {
  .landing .change-background{
    display: none;
  }
}
.fa-angle-left{
   left: 35px;
}
.fa-angle-right{
  right: 35px;
}
.landing #bullets{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  width: 50px;
  display: flex;
  width: 80px;
  justify-content: space-between;
  cursor: pointer;
}
.landing #bullets li {
  width: 20px;
  aspect-ratio: 1/1;
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
}
.landing #bullets li.active{
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* end Landing */
/*start form*/



/* Bordered form */
#form {
  position: absolute;
  right: 20vw;
  top: 0;
  padding: 20px;
  margin:20px;
  background-color: var(--main-color);
  z-index: 3;
  width: 500px;
  height: 600px;
  scale: 0;
}
#form.zoom{
  scale: 1;
  transition: scale .8s;

}
/* Full-width inputs */
.feld {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 50%;
}

/* Add padding to containers */
.container2 {
  padding: 16px;
  width: 100%;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}
@media (max-width:768px) {
  #form{
    width: 300px;
    height: 550px;
    padding: 5px;
    right:5vw;
  }
}

/*end form*/
/*start services*/
.services{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services .container .services-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
}
@media (max-width:768px) {
  .services .container .services-container{
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  }
}
.services .container .services-container .srv-box{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

@media (max-width:768px) {
  .services .container .services-container .srv-box{
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.services .container .services-container .srv-box i{
  color: #777;
  font-size: 1.8rem;
  flex-basis: 7rem;
}
.services .container .services-container .srv-box .text{
  margin-bottom: 20px;
  flex: 1;
}
@media (max-width:768px) {
  .services .container .services-container .srv-box .text{
    text-align: center;
  }
  .services .container .services-container .srv-box i{
    flex-basis: 4rem;
  }
}
.services .container .services-container .srv-box h3{
  color: var(--main-color);
  margin-bottom: 15px;
  font-weight: normal;
  
}
.services .container .services-container .srv-box p{
  color: #777;
  line-height: 2;
  width: 350px;
}
@media (max-width:768px) {
  .services .container .services-container .srv-box p{
    width: 250px;
    max-width: 100vw;
  }
}
/*end services*/
/*start Design*/
.design{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: linear-gradient( rgba(113, 5, 245, 0.6) 10%, transparent),
  url("../images/design.jpg") center/cover no-repeat border-box,
  #000;
  height: 600px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;

}
.design .text,
.design .image{
 position: relative;
 flex: 1;
}
.design .image{
  text-align: center;
  flex: .5;
}

.design .image img{
  position: relative;
  bottom: -150px;
}
.design .text{
  width: 50%;
  color: var(--secondary-color);
  padding: 50px;
  background-color: var(--transparent-color);
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}
@media (max-width:767px) {
  .design .image{
    display: none;
  }
  .design .text{
    width: 100%;
  }
}

.design .text h2{
font-weight: normal;
 text-transform: uppercase;
 margin-bottom: 20px;
}
.design .text ul li{
  padding: 15px 0;
  
}
.design .text ul li::before{
  font-family: "Font Awesome 5 Free";
  content: "\f2d0";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top:1px;
}
/*end Design*/
/*start portofilio*/
.portfolio{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
/* .portfolio .container{

} */
.portfolio .container .shuffle{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .container .shuffle li{
  padding-right: 50px;
  padding-left: 50px;
  color: #777;
  cursor: pointer;
}
.portfolio .container .shuffle li.active{
  background-color: var(--main-color);
  color: var(--secondary-color);
  height: 25px;
  border-radius: 5px;
 line-height: 25px;
 transition: var(--main-transition);
}
@media (max-width:768px) {
  .portfolio .container .shuffle li{
    padding-right: 15px;
    padding-left: 15px;
  }
}
.portfolio .imgs-container{
  margin-top: 60px;
  width: 100%;
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
 text-align: center;
 gap: 30px;
}
.portfolio .imgs-container .box{
  background-color: #777;
  position: relative;
  cursor: pointer;
}
.portfolio .imgs-container .box .caption{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color:rgba(0, 0, 0, .3);
  width: 100%;
  height: 0;
  transition:height var(--main-transition);
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .imgs-container .box .caption .check{
  background-color: var(--main-color);
  color: var(--secondary-color);
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  top: 50px; 
  scale: 0;
}
.portfolio .imgs-container .box:hover .caption{
  height: 60%;
}
.portfolio .imgs-container .box:hover .check{
 scale: 1;
}
 .portfolio .imgs-container .box img{
  min-width: 250px;
  width: 300px;
  height: 200px;
}
.portfolio .more{
  margin-top: 20px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  position: absolute;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  left: 50%;
  transform: translateX(-50%);
}
/* start video */
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.video video {
  width: 100%;
}
.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  text-align: center;
}
.video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text p {
  margin-bottom: 30px;
}
.video .text .videoBtn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  width: 150px;
}
/* end video */
/* Start About */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}
.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}
/* End About */
/*start statics*/
.stats{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: linear-gradient( rgba(0, 0, 0, 0.3) 10%, transparent),
  url("../images/static1.webp") center/cover no-repeat border-box,
  #000;
  position: relative;
}
.stats .container{
    background-color: var(--transparent-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.stats .container .box{
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  height: 150px;
}
@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}
.stats .container .box i{
  background-color: #000;
  border-radius: 100%;
  width: 30px;
  aspect-ratio: 1;
  text-align: center;
  line-height: 30px;
}
 .stats .container .box .number{
  font-size: 3.1rem;
    font-weight: bold;
  }
 .stats .container .box p{
  font-size: 0.8rem;
    }
/* start skills */
.our-skills{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

}
.our-skills .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .testimonials{

}

@media (min-width:992px) {
  .our-skills .container > div{
  flex-basis: 45%;
}
}
.our-skills .container > div > h3{
  margin: 0 0 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}
.our-skills .container > div > p{
  color: var(--transparent-color);
  margin-bottom: 60px;
  text-align: center;
  line-height: 2;
}
.container .testimonials .content{
  display: flex;
  margin-bottom: 20px;
}

.container .testimonials .content img{
   width: 100px;
   aspect-ratio: 1;
   border-radius: 50%;
   margin-right: 60px;
}
@media (max-width:767px) {
  .container .testimonials .content{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .container .testimonials .content img{
    margin: 0 auto 20px;
  }
}
.container .testimonials .content .text{
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}

.container .testimonials .content .text p{
  color: var(--transparent-color);
  font-weight: normal;
  text-align: right;
  margin-bottom: 5px;
}

.container .testimonials .bullets{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container .testimonials .bullets li{
  margin:auto 8px;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}
.container .testimonials .bullets .active{
  background-color: var(--main-color);
}
.container .prog-holder{
  margin: 15px 0;
}
.container .prog-holder h4{
  font-weight: 505;
  padding-bottom: 10px;
  color: #777;
}

.container .prog-holder > div{
  height: 25px;
  border: 1px solid #ccc;
  background-color: #ccc;
  position: relative;
}
.container .prog-holder > div span{
  position: absolute;
  left: 0;
  top: 0;
  background-color:var(--main-color);
  display: block;
  height: 100%;
}
.container .prog-holder > div span::before{
  content:attr(data-progress);
  color: var(--secondary-color);
  top: -25px;
  left: 95%;
  height: 20px;
  width: 35px;
  text-align: center;
  line-height: 20px;
  font-weight: normal;
  font-size: .9rem;
  background-color: #000;
  position: absolute;
}
.container .prog-holder > div span::after{
  Content: "";
  position: absolute;
  z-index: -1;
  top: -10px;
  left: 96.5%;
  height: 25px;
  border-style: solid;
  border-width: 9px;
  border-color: #000 transparent transparent transparent;
}
/* end skills */
/* start Quote */
.quotes{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: linear-gradient( rgba(0, 0, 0, 0.3) 10%, transparent),
  url("../images/Quate.jpg") center/cover no-repeat border-box,
  #000;
}
.container{
   position: relative;
   color: var(--secondary-color);
   text-align: center;
  
}

 .container q {
  display: block;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.container q::before {
  font-family:"Font Awesome 5 Free";
  content: "\22";
  margin-right: 10px;
  font-size: 1.5rem;
  color:rgb(0 255 0 );
}
.container q::after {
  font-family:"Font Awesome 5 Free";
  content: "\22";
  margin-left: 10px;
  font-size: 1.5rem;
  color:rgb(0 255 0 );
}

/* end Quote */